.comparison-start
  Do you want to define weights of parameters
  %br
  or should we use the default one?

.submit-row
  = link_to 'Use default weights', skip_project_parameters_comparisons_path(project_id: @project.id), method: :post, class: 'button'
  = link_to 'Lets start!', compare_project_parameters_comparisons_path(project_id: @project.id), class: 'button'
